html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro")
    body
        .container.vertical.center
            .clock.unselectable
                .item.time --:--
        .container.horizontal.center
            button.item(id="refresh_button")
                img.square-25px(src= '/icons/refresh.svg')
            button.item.slower(id="options_button")
                img.square-25px(src= '/icons/settings.svg')
        script(src="browser-polyfill.js")