html
    head
        meta(charset="utf-8")
    body
        table
            tr
                td
                    label(id="alarmWork_label")
                td
                    input(id="alarmWork" type="number" min="1" max="60")
            tr
                td
                    label(id="alarmBreak_label")
                td
                    input(id="alarmBreak" type="number" min="1" max="60")
            tr
                td
                    label(id="apply_label")
                td
                    button(id="apply" type="submit")
                    p(id="apply_msg" class="success text-0-8 hidden")
                    p(id="error_msg" class="warning")
        script(src="browser-polyfill.js")