html
    head
        meta(charset="utf-8")
    body
        table
            tr
                td
                    label(id="readingTime_label")
                td
                    input(id="readingTimeAmount" type="number" min="1" max="120")
            tr
                td
                    label(id="breakTime_label")
                td
                    input(id="breakTimeAmount" type="number" min="1" max="120")
            tr
                td
                td
                    button(id="apply" type="submit")
        hr
        .container.vertical.center
            span(id="apply_msg" class="success")
            span(id="error_msg" class="warning")
        hr
        script(src="browser-polyfill.js")