html
    head
        meta(charset="utf-8")
    body
        table
            tr
                td
                    label(id="readingTime_label")
                td
                    input(id="readingTimeAmount" type="number" min="1" max="180" step="1")
            tr
                td
                    label(id="breakTime_label")
                td
                    input(id="breakTimeAmount" type="number" min="1" max="120" step="1")
            tr
                td
                    label(id="title_label")
                td
                    input(id="title" type="text")
            tr
                td
                    label(id="message_label")
                td
                    textarea(id="message" rows="3")
            tr
                td
                    label(id="soundEnabled_label")
                td
                    input(id="soundEnabled" type="checkbox")
        table
            legend
                tr
                    td
                        label(id="customSoundURL_label")
                    td
                        input(id="selectSoundFile" type="file")
                tr
                    td
                    td
                        input(id="customSoundURL" type="text")
        table
            tr
                td
                td
                    button(id="apply" type="submit")
                    button(id="reset" type="submit")
        .container.vertical.center
            span(id="msg")
        script(src="browser-polyfill.js")