@import "table.less";
@import "container.less";
@import "classes.less";
@import "colors.less";

* {
    font-family: 'Microsoft JhengHei';
}

span,
label,
button,
input,
textarea {
    font-size: 16px;
}

input[type="number"],
input[type="text"],
textarea {
    width: 100%;
    max-width: 300px;
}

// this is for ext's setting layout in Chrome
@media screen and (max-width: 400px) {
    input[type="text"],
    textarea {
        max-width: none;
    }
}