@import "container.less";

* {
    font-family: 'Microsoft JhengHei';
}

form {
    .item {
        margin-bottom: 5px;

        label {
            margin-right: 5px;
        }
    }

    button {
        border-radius: 3px;
    }
}