td label {
  float: right;
}
td label::after {
  clear: right;
}
.unselectable {
  user-select: none;
}
.square-25px {
  width: 25px;
  height: 25px;
}
.text-0-8 {
  font-size: 0.8rem;
}
.success {
  color: #2EB872;
}
.warning {
  color: #FA4659;
}
.hidden {
  display: none;
}
* {
  font-family: 'Microsoft JhengHei';
}
form .item {
  margin-bottom: 5px;
}
form .item label {
  margin-right: 5px;
}
form button {
  border-radius: 3px;
}
