table {
  width: 100%;
}
tr {
  margin-bottom: 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.vertical {
  flex-direction: column;
}
.horizontal {
  flex-direction: row;
}
.center {
  align-items: center;
  justify-content: center;
}
.item {
  flex-grow: 1;
}
.unselectable {
  user-select: none;
}
.square-25px {
  width: 25px;
  height: 25px;
}
.success {
  color: #2EB872;
}
.warning {
  color: #FA4659;
}
.hidden {
  visibility: hidden;
}
* {
  font-family: 'Microsoft JhengHei';
}
span,
label,
button,
input[type="number"] {
  font-size: 16px;
}
@media screen and (max-width: 400px) {
  input[type="number"] {
    width: 100%;
  }
}
